/* Hide all scrollbars globally */
.table-scroll::-webkit-scrollbar {
  display: none;
}

.table-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Additional specific class if needed */
.scrollbar-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  overflow: -moz-scrollbars-none !important;
}
